body { 
    margin: 0px; 
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(5, minmax(100px, auto)); 
    grid-template-areas:
    "header header header"
    "main main main";
}

header { 
    background-image: url(banner.png); 
    background-position: center; 
    background-size: cover; 
    height: 300px;
    grid-area: header; 
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.LOGO { 
    height: 150px;
    width: 200px;
} 

.LOGO h1 { 
    font-family: 'Pacifico', cursive;
    color: white;
}

.LOGO span{
    color:  #10dd1a;
}

.LOGO h3{
    color: white;
    font-size:10pt;
    font-family: sans-serif;
}

.icone-background { 
    border-radius: 50px;
    background-color: rgba(51, 51, 51, 0.692);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;   
}

.icone-background img { 
    width: 20px; 
    height: 20px;
}

.icone-background:hover{
    background-color: #10dd1a;
    cursor: pointer;
}

.box-icones{
    display: flex;
    justify-content: space-around;
    width: 160px;
}

.HAND{
    display: flex;
    align-items: flex-end;
    height: 300px;
}

.HAND img{
    width: 200px;
}

main{
    height: 150px;
    grid-area: main;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-top:30px;
}

.boxEngrenagem{
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxEngrenagem h3{
    font-family: sans-serif;
    font-size: 10pt;
    color:black;
}
 .boxEngrenagem h4{
     font-family: sans-serif;
     font-size: 8pt;
     color: gray;
 }

 .iconeBackgroundMain{
    border-radius: 50px;
    background-color: #10dd1a; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;   
 }

 .iconeEngrenagem{
     width: 20px;
     height: 20px;
 }

 .boxEstrela{
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .boxEstrela h3{
    font-family: sans-serif;
    font-size: 10pt;
    color:black;
 }

 .boxEstrela h4{
    font-family: sans-serif;
    font-size: 8pt;
    color: gray;
 }

 .boxMundinho{
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .boxMundinho h3{
    font-family: sans-serif;
    font-size: 10pt;
    color:black;
 }

 .boxMundinho h4{
    font-family: sans-serif;
    font-size: 8pt;
    color: gray;
 }

 